<div class="mycomment shipping-payment">
    <div class="zalw-discount-code-wrapper zalw-onepagecheckout-additional-blocks" data-bind="visible: canVisibleBlock">
        <div class="payment-option _collapsible onepagecheckout-payment-additional discount-code"
             data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
            <div class="payment-option-title field choice" data-role="title">
                <span class="action action-toggle zalw-action-toggle" id="block-comment-heading" role="heading" aria-level="2">
                    <!-- ko i18n: 'Comment'--><!-- /ko -->
                </span>
            </div>
            <div class="payment-option-content" data-role="content">
                <form class="zalw-discount-form zalw-comment-field form form-discount" id="comment-form">
                    <div class="payment-option-inner">
                        <div class="field">
                            <label class="label" for="comment-code">
                                <span data-bind="i18n: 'Enter comment'"></span>
                            </label>
                            <div class="control">
                                <textarea class="input-text" id="comment-code" name="comment-code" rows="2" maxlength="200" data-bind="attr:{placeholder: $t('Enter comment')} " ></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
