/*RESPONSIVE*/

@media  (max-width:1210px) {
    .checkout-shipping-address {margin-right: 20px !important;}
    .onepagecheckout-wrapper {padding-right: 20px;}
}

@media  (max-width:835px) {
    .checkout-shipping-address {margin-right: 10px !important;}
    .onepagecheckout-wrapper {padding-right: 10px;}
}

@media  (max-width:765px) {
    .onepagecheckout-wrapper .onepagecheckout > li {width: 49%;}
    .onepagecheckout-sidebar .modal-inner-wrap {padding: 15px;}
}

@media  (max-width:645px) {
    .onepagecheckout-wrapper .form-login,
    .onepagecheckout-wrapper .form-shipping-address,
    .onepagecheckout-wrapper .methods-shipping { background: none !important;  border-bottom: none; padding-top: 0;}
    .zalw-onepage-checkout .onepagecheckout-wrapper .shipping-address-item { width: 48% !important;}
    .zalw-onepage-checkout .onepagecheckout-wrapper .shipping-address-item { width: 90% !important; border: none;}
}

@media  (max-width:550px) {
    .onepagecheckout-wrapper .onepagecheckout > li {width: 100%;}
    .onepagecheckout-wrapper .form-login,
    .onepagecheckout-wrapper .form-shipping-address { max-width: 100% !important; }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    .zalw-onepagecheckout-forgot-wrapper .modal-inner-wrap {width: 300px !important;}
    .zalw-onepagecheckout-forgot-form .actions-toolbar {padding-left: 134px;}
}
@media only screen and (min-width: 320px) and (max-width: 435px) {
    .zalw-checkout-agreement .zalw-terms-input-label button.action.action-show.zalw-terms-label-button { width: 245px; }
}

@media only screen and (min-width: 320px) and (max-width: 390px) {
    .zalw-grand-total-item .zalw-grand-total-item-label{margin: 17px 0 -3px 0;}
    .zalw-grand-total-item .zalw-grand-total-item{width: 80%; float: left; margin-top: 2px;  margin-bottom: 0;}
    .zalw-checkout-form-wrapper .zalw-checkout-agreements-wrapper .zalw-checkout-agreement:first-child { margin-top: 15px; }
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
    .zalw-onepage-checkout.checkout-index-index .modal-popup .modal-inner-wrap{ margin: 60px auto; background-color: #fff; min-height: 350px;}
    .zalw-onepage-checkout.checkout-index-index .zalw-onepagecheckout-forgot-wrapper .modal-inner-wrap{ margin: 60px auto; background-color: #fff; min-height: auto;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer{padding: 15px 0 15px 0;}
    .zalw-onepage-checkout .modal-popup._inner-scroll .modal-content{padding: 25px 25px 20px;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-save-address{float: right;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-hide-popup{float: right; margin-top: 8px; margin-right: 15px; }
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
    .zalw-onepage-checkout.checkout-index-index .modal-popup .modal-inner-wrap{ margin: 60px auto; background-color: #fff; /*max-height: 350px;*/}
    .modal-content form.form-shipping-address div#shipping-new-address-form .field {width: 100%;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-save-address{float: right;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-hide-popup{float: right; margin-top: 8px; margin-right: 15px;}
}

@media only screen and (min-width: 480px) and (max-width: 979px) {
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-shipping-address { width: 100%; padding-right: 0;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-onepagecheckout-shipping-method{width: 100%; padding: 0; margin-top: 47px;     margin-bottom: 10px;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-payment-method{width: 100%; padding-left: 0; }
    .zalw-checkout-payment-method .payment-method .payment-method-title .label span{width: 100%; margin: 0 auto;}
    .zalw-checkout-payment-method.checkout-payment-method .payment-methods{margin: 0;}
    .zalw-summary-cart{position: absolute; top: -60px; right: 2px; background-color: #00909E;}
}
@media only screen and (min-width: 320px) and (max-width: 639px) {
    form.form.form-login .field-tooltip._active .field-tooltip-content{ top: 35px; left: -275px;}
    input#zalw-select-shipping-address{display: none;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-shipping-address .step-title{ margin: 18px 0 29px 0; }
    .zalw-onepagecheckout-shipping-method .checkout-shipping-method div.step-title{margin-bottom: 0 !important;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-shipping-address .zalw-step-title-list-of-addresses{margin: -7px 0 20px;}

}
@media only screen and (min-width: 320px) and (max-width: 979px) {
    form.form.form-login .field-tooltip._active .field-tooltip-content {top: 35px;left: -275px;}
    form.form-shipping-address div#shipping-new-address-form .field ._with-tooltip .field-tooltip._active .field-tooltip-content{top: 35px;left: -275px;}
    .zalw-shipping-address-item.shipping-address-item.zalw-selected-item label:before{margin: 5px 0 0 0;}
    .zalw-shipping-address-item.shipping-address-item.zalw-not-selected-item label:before{margin-top: 5px;}
}

@media only screen and (min-width: 1230px) and (max-width: 1269px) {
    .checkout-payment-method .ccard .month .select{ margin-right: 6px; }
}

@media only screen and (min-width: 981px) and (max-width: 1229px) {
    .checkout-payment-method .ccard .month .select{margin-right: 0;margin-bottom: 15px;}
    .checkout-payment-method .ccard .fields > .year{padding-left: 0;}
    .zalw-grand-total-item .zalw-grand-total-item{width: 80%; float: left;}
}
@media only screen and (min-width: 980px) and (max-width: 1229px) {
    .zalw-grand-total-item .zalw-grand-total-item{width: 80%; float: left;}
    .zalw-grand-total-item .zalw-grand-total-item-label{margin: 17px 0 -17px 0}
}

@media only screen and (min-width: 320px) and (max-width: 397px) {
    .checkout-payment-method .ccard .month .select{margin-bottom: 15px;}
    .checkout-payment-method .ccard .fields > .year{padding-left: 0;}
}
@media only screen and (min-width: 1204px){
    .zalw-onepage-checkout.checkout-index-index .modal-popup .modal-inner-wrap { left: 0;}
}


@media only screen and (min-width: 320px) and (max-width: 479px) {

    aside.modal-custom.onepagecheckout-sidebar.onepagecheckout-summary-wrapper.zalw-onepagecheckout-summary-wrapper.hide.custom-slide.show{
        visibility: visible;
        left: 0;
        right: 9px;
        box-sizing: border-box;
        bottom: auto;
    }
    aside.modal-custom.onepagecheckout-sidebar.onepagecheckout-summary-wrapper.zalw-onepagecheckout-summary-wrapper.hide.custom-slide.show .modal-inner-wrap{
        transform: none;
        background: #fff;
        box-shadow: none;
        min-height: 0;
    }
    aside.modal-custom.onepagecheckout-sidebar.onepagecheckout-summary-wrapper.zalw-onepagecheckout-summary-wrapper.hide.custom-slide.show .modal-inner-wrap .modal-header button.action-close{display: none;}

    .zalw-onepage-checkout .onepagecheckout-sidebar{top: 41px; width: 310px;}
    .zalw-summary-cart-arrow:before{z-index: 999;}
    .zalw-onepage-checkout main#maincontent{padding-left: 10px; padding-right: 0;}
    .zalw-one-page-checkout-sidebar .zalw-onepagecheckout-block-summary{padding: 22px 0;}
    .zalw-minicart-items-header .zalw-product-items-title{    padding: 10px 0 10px 0;}
    .zalw-minicart-items-header .zalw-product-items-title .product-header-price{margin-left: 18px; }
    .zalw-minicart-items-header .zalw-product-items-title .product-header-name{margin-right: 30px;}
    .zalw-product-item-details-wrapper .product-item-inner div{padding: 0 !important;}
    span.zalw-subtotal.subtotal{padding-right: 0;}
    span.product-item-name{width: 135px;}
    dd.values.zalw-onepagecheckout-item-value{ margin-right: 140px;}
    dl.item-options.zalw-onepagecheckout-all-subitem-options{ padding-left: 15px;}
    dt.label.zalw-onepagecheckout-subitem-title{ max-width: 110px;}


    .zalw-onepage-checkout-container .onepagecheckout-wrapper{width: 95%;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-shipping-address { width: 100%; padding-right: 0;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-onepagecheckout-shipping-method{width: 100%; padding: 0; margin-top: 50px;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-payment-method{width: 100%; padding-left: 0; margin-top: 45px;}
    .zalw-checkout-payment-method .payment-method .payment-method-title .label span{width: 95%; margin: 0 auto;}
    .zalw-checkout-payment-method .payment-method._active .payment-method-content > div.actions-toolbar{margin-left: 1px;}
    .zalw-checkout-payment-method .payment-method .payment-method-title {margin: 0 4px 15px 8px;}
    .zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.actions-toolbar > div.secondary{margin-top: 10px;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .step-title{margin-bottom: 25px;}
    .zalw-checkout-shipping-address .zalw-form-shipping-address{margin-bottom: -9px;}
    .zalw-onepagecheckout-forgot-wrapper footer.modal-footer{padding-bottom: 7px;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-save-address {width: 135px;}
    .zalw-onepage-checkout .modal-popup .modal-title {font-size: 20px;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer{margin-top: 0;}
    .modal-content form.form-shipping-address div#shipping-new-address-form .field ._with-tooltip .field-tooltip._active .field-tooltip-content {
        left: -177px;
        top: 2px;
        width: 131px;
    }
    .zalw-onepage-checkout.checkout-index-index .modal-popup .modal-inner-wrap{ margin: 60px auto; background-color: #fff; /*max-height: 350px;*/}
    .modal-content form.form-shipping-address div#shipping-new-address-form .field {width: 100%;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-save-address{float: right;}
    .zalw-onepage-checkout .modal-popup.modal-slide .modal-footer .action-hide-popup{float: right; margin-top: 8px; margin-right: 15px;}
    .zalw-onepage-checkout .zalw-onepage-checkout-container{margin: 35px 0 20px 0 !important; position: relative; padding-top: 75px;}
    .zalw-summary-cart{position: absolute; top: 0; right: auto; left: 0; background-color: #00909E;}
    .payment-option._collapsible.onepagecheckout-payment-additional.discount-code.zalw-discount-code-wrapper{margin-bottom: 45px;}

    .zalw-checkout-step-shipping > button.action-show-popup { margin-bottom: -20px; margin-top: 15px; }
    .zalw-step-title.zalw-shipping-address.title.step-title {  margin-bottom: -7px;}
    /*.zalw-checkout-payment-method #checkout-step-payment{padding-right: 15px; padding-left: 15px;}*/
    .secondary.zalw-onepagecheckout-check-balance{text-align: left; }
    button.action.zalw-action-code-button{min-width: 100px; width: auto !important;}
    .zalw-checkout-payment-method #checkout-step-payment{padding-bottom: 105px;}

}


@media only screen and (min-width: 480px) and (max-width: 768px) {
    .zalw-checkout-step-shipping form.form-login fieldset.hidden-fields div.actions-toolbar > div.secondary{margin-top: 0px;}
    aside.modal-custom.onepagecheckout-sidebar.onepagecheckout-summary-wrapper.zalw-onepagecheckout-summary-wrapper.hide.custom-slide.show{
        visibility: visible;
        left: auto;
        box-sizing: border-box;
        bottom: auto;
    }
    aside.modal-custom.onepagecheckout-sidebar.onepagecheckout-summary-wrapper.zalw-onepagecheckout-summary-wrapper.hide.custom-slide.show .modal-inner-wrap{
        transform: none;
        background: #fff;
        padding: 15px;
        box-shadow: none;
        min-height: 0;
    }
    aside.modal-custom.onepagecheckout-sidebar.onepagecheckout-summary-wrapper.zalw-onepagecheckout-summary-wrapper.hide.custom-slide.show .modal-inner-wrap .modal-header button.action-close{display: none;}
    .zalw-one-page-checkout-sidebar .zalw-onepagecheckout-block-summary{padding: 0;}
    .zalw-summary-cart-arrow:before{z-index: 999;}
    .zalw-onepagecheckout-forgot-wrapper footer.modal-footer{padding-bottom: 7px;}
    .payment-option._collapsible.onepagecheckout-payment-additional.discount-code.zalw-discount-code-wrapper{margin-bottom: 45px;}
    .zalw-checkout-step-shipping-method { margin-bottom: 30px !important; }
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-checkout-payment-method{ margin-top: 50px;}
    .onepagecheckout-wrapper .form-login,
    .onepagecheckout-wrapper .form-shipping-address,
    .onepagecheckout-wrapper .methods-shipping { background: none !important;  border-bottom: none; padding-top: 0;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .step-title{margin-bottom: 31px;}
    .zalw-checkout-shipping-address .zalw-checkout-step-shipping{margin-bottom: -20px;}
    .zalw-onepage-checkout-container .onepagecheckout-wrapper .zalw-step-title-list-of-addresses{margin-bottom: 16px;}
    .zalw-checkout-shipping-address .action-show-popup{margin-top: 14px;}
    .zalw-checkout-shipping-address .zalw-checkout-step-shipping { margin-bottom: -24px;}
}
/*END RESPONSIVE*/