<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="zalw-shipping-address-item shipping-address-item"
     data-bind="css: isSelected() ? 'zalw-selected-item' : 'zalw-not-selected-item'">
    <label>
        <input type="radio" id="zalw-select-shipping-address" data-bind="click: selectAddress"
               class="action action-select-shipping-item"/>
        <!-- ko text: address().firstname --><!-- /ko --> <!-- ko text: address().lastname --><!-- /ko -->
        <!-- ko text: address().street --><!-- /ko -->
        <!-- ko text: address().city --><!-- /ko -->, <!-- ko text: address().region --><!-- /ko -->
        <!-- ko text: address().postcode --><!-- /ko -->
        <!-- ko text: getCountryName(address().countryId) --><!-- /ko -->
        <!-- ko text: address().telephone --><!-- /ko -->


    </label>
    <!-- ko if: (address().isEditable()) -->
    <button type="button"
            class="action edit-address-link"
            data-bind="click: editAddress, visible: address().isEditable()">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <!-- /ko -->
    <!--<button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item">-->
    <!--<span data-bind="i18n: 'Ship Here'"></span>-->
    <!--</button>-->
</div>
