<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="zalw-onepagecheckout-block-summary onepagecheckout-block-summary" data-bind="blockLoader: isLoading">
    <span data-bind="i18n: 'Review Your Order'" class="title zalw-summary-title"></span>
    <ol class="zalw-minicart-items-header">
        <li class="zalw-product-items-title">
            <div class="product-header-name"><span class="prod-name">PRODUCT NAME</span></div>
            <div class="product-header-qty"><span class="prod-qty">QTY</span></div>
            <div class="product-header-price"><span class="prod-subtotal">SUBTOTAL</span></div>
        </li>
    </ol>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
