<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<tr class="totals zalw-totals-wrapper">
    <th class="mark" scope="row" data-bind="text: title"></th>
    <td class="amount">
        <span class="price zalw-item-price" data-bind ="text: getValue(), attr:{'data-label': title}"></span>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
